{% extends "bugtrack/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid">
	{% if user.is_authenticated %}
		<p class="h2 pb-2">Hello {{user.first_name}}</p>
	{% else %}
		<p class="h2 pb-2">Hello Guest</p>
	{% endif %}
	<div class="row">
		<div class="col-md">
			<div class="card-counter primary">
				<i class="fa fa-code-fork"></i>
        <span class="count-numbers">{{ data.projects.count }}</span>
        <span class="count-name">Projects</span>
        <a href="#" class="stretched-link"></a>
			</div>
		</div>
		<div class="col-md">
			<div class="card-counter danger">
				<i class="fas fa-bug"></i>
        <span class="count-numbers">{{ data.tickets.count }}</span>
        <span class="count-name">Unresolved Bugs</span>
        <a href="#" class="stretched-link"></a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md">
			<h2 class="my-4">Submit New Project</h2>
			<form action="/" class="form-group" method="POST">
				{% csrf_token %}
				{{ data.projectf|crispy }}
				<input type="submit" class="btn btn-primary" name="project">
			</form>
		</div>
		<div class="col-md">
			<h2 class="my-4">Submit New Bug</h2>
			<form action="/" class="form-group" method="POST">
				{% csrf_token %}
				{{ data.bugf|crispy }}
				<input type="submit" class="btn btn-primary" name="bug">
			</form>
		</div>
	</div>
</div>
{% endblock %}